.pointer {
  cursor: pointer;
}
/* Loader */
.simple-loader {
  width: 200px;
  margin: 10% auto;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  z-index: 10;
}
/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}
/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.two-columns {
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.no-row-padding > div:first-child {
  padding-left: 0px !important;
}
.no-row-padding > div:last-child {
  padding-right: 0px !important;
}
.no-border-radius {
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}
.popover-custom-content {
  display: none;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1 {
  margin: 0px 0px 20px;
}
.panel-title {
  font-size: 14px;
}
/* NEED TO MOVE THIS TO COMPONENT CSS */
.content-editor {
  margin-top: 10px;
  height: 240px;
}
html,
body {
  height: 100%;
  /* IMPORTANT!!! stretches viewport to 100% */
}
/* TOP BAR */
.top-bar {
  width: 100%;
  position: fixed;
  background: #000000;
  color: #ededed;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 99;
}
.top-bar .logo {
  display: inline-block;
  margin: 20px;
}
.top-bar .greeting {
  padding: 28px;
}
.top-bar .btn-logout {
  font-weight: bold;
  height: 76px;
  line-height: 60px;
  width: 100%;
}
/* AUTH CUSTOMIZATION */
.auth {
  margin-top: 176px;
}
/* MAIN-CONTENT */
.main-content {
  margin-top: 76px;
}
.main-content > div {
  padding: 30px;
}
/* MENU BAR */
.menu-bar {
  background: #ededed;
}
.list-container .row {
  border-bottom: 1px solid #ededed;
  margin: 0;
  padding: 10px 0;
}
.list-container .list-header {
  font-weight: bold;
}
.list-container .list-item-actions {
  font-size: 13px;
}
.list-container .list-image {
  display: inline;
}
.list-container .list-image img {
  max-width: 75%;
  max-height: 50px;
  float: right;
}
.list-container.grid-view .hide-in-grid {
  display: none;
}
.list-container.grid-view .row {
  width: 31%;
  float: left;
  margin: 0 1%;
}
.list-container.grid-view .list-item > div {
  width: 100%;
}
.list-container.grid-view .list-item .list-image {
  display: block;
}
.list-container.grid-view .list-item .list-image:before,
.list-container.grid-view .list-item .list-image:after {
  content: "";
  display: table;
}
.list-container.grid-view .list-item .list-image:after {
  clear: both;
}
.list-container.grid-view .list-item .list-image img {
  max-width: 100%;
  max-height: none;
  margin-bottom: 10px;
}
.form-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.selection-label {
  font-weight: normal;
}
/*@import "image_selector.less";*/

/*# sourceMappingURL=app.css.map */