html, body {
    height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
}

// MOVE TO UTILS //
@grey: #EDEDED;



.main-content {
    margin-top: 76px;
    // overflow: hidden; 

    > div { padding: 30px; }
    
     > [class*="col-"] {
        // margin-bottom: -99999px;
        // padding-bottom: 99999px;
    }
}



/* BEGIN TOP BAR */
.top-bar { 
    background: #000;
    color: @grey;
    font-weight: bold;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 99;
    
    .logo {
        display: inline-block;
        margin: 20px;
    }

    .greeting { padding: 28px; }

    .btn-logout {
        font-weight: bold;
        height: 76px;
        line-height: 60px;
        width: 100%;
    }
}
/* END TOP BAR */

