html, body {
    height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
}

/* TOP BAR */
.top-bar { 
    width: 100%;
    position: fixed;
    background: @top-bar-bgcolor;
    color: @top-bar-color;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 99;

    .logo {
        display: inline-block;
        margin: 20px;
    }

    .greeting { padding: 28px; }

    .btn-logout {
        font-weight: bold;
        height: 76px;
        line-height: 60px;
        width: 100%;
    }
}

/* AUTH CUSTOMIZATION */
.auth {
    margin-top: 176px;
}

/* MAIN-CONTENT */
.main-content {
    margin-top: 76px;
    > div { padding: 30px; }
}

/* MENU BAR */
.menu-bar { background: @light-grey; }