.form-group .image-preview {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
}

.image-selector blockquote { width: 70%; margin-bottom: 0; }
.image-selector footer a { margin-left: 10px; }